@media screen and (min-width: 0) {

    .btn-transp {
        border: 1px solid #4444;
        border-radius: 2px;
        background: transparent;
        padding: 0%;
        width: 16px;
        height: 16px;
        margin: 0px 1px 0px 0px;
        /* transition: box-shadow .2s; */
    }

    .img-transp {
        border-radius: 2px;
        width: 16px;
        height: 16px;
    }    

}

@media screen and (min-width: 768px) {

    .btn-transp {
        border: 1px solid #4444;
        border-radius: 2px;
        background: transparent;
        padding: 0%;
        width: 24px;
        height: 24px;
        margin: 0px 1px 0px 0px;
        /* transition: box-shadow .2s; */
    }
    
    .img-transp {
        border-radius: 2px;
        width: 24px;
        height: 24px;
    }    
}

@media screen and (min-width: 992px) {

    .btn-transp {
        border: 1px solid #4444;
        border-radius: 2px;
        background: transparent;
        padding: 0%;
        width: 30px;
        height: 30px;
        margin: 0px 1px 0px 0px;
        /* transition: box-shadow .2s; */
    }
 
    .img-transp {
        border-radius: 2px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1200px) {

    .btn-transp {
        border: 1px solid #4444;
        border-radius: 2px;
        background: transparent;
        padding: 0%;
        width: 36px;
        height: 36px;
        margin: 0px 1px 0px 0px;
        /* transition: box-shadow .2s; */
    }
    
    .img-transp {
        border-radius: 2px;
        width: 37px;
        height: 37px;
    }
    
}
