div.moveble {
    border: 1px solid #4444;
    overflow: hidden;
    resize: both;
    /* height: 500px; 
    width: 100%; */
    height: 200px; 
    width: 100%;
    min-width: 80px;
    min-height: 50px;
    margin: 0px;
    padding: 0px;
}
  
.required:after {
    font-size: 70%;
    font-weight: bold;
    content:" \2733";
    color: #FF3334;
}

.body10 {
    color: #444444;
    transform: scale(1.0);
    transform-origin: 0 0;
}

.body11 {
    color: #444444;
    font-size: 110%;
    /* transform: scale(1.1);
    transform-origin: 0 0; */
}
  
.body12 {
    color: #444444;
    font-size: 120%;
    /* transform: scale(1.2);
    transform-origin: 0 0; */
}

.body13 {
    color: #444444;
    font-size: 130%;
    /* transform: scale(1.3);
    transform-origin: 0 0; */
}

.body14 {
    color: #444444;
    font-size: 140%;
    /* transform: scale(1.4);
    transform-origin: 0 0; */
}

.body15 {
    color: #444444;
    font-size: 150%;
    /* transform: scale(1.5);
    transform-origin: 0 0; */
}

input:placeholder-shown {
    font-style: italic;
}

.session-show {
    display: block;
} 

.hide {
    display: none;
} 

.no-accordion {
    display: block;
    width: 100%;
    border-radius: 2px;
    background-color: #212962;
    color: white;
    padding: 5px 2px;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.accordion {
    display: block;
    width: 100%;
    border-radius: 2px;
    background-color: #212962;
    color: white;
    padding: 5px 2px;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
}

.accordion:after {
    font-family: "FontAwesome";
    content: "\25B2";
    color: #777;
    font-weight: bold;
    float: right;
    font-size: 120%;
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
 }

 .accordion-close {
    display: block;
    width: 100%;
    border-radius: 2px;
    background-color: #212962;
    color: white;
    padding: 5px 2px;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
}

.accordion-close:after {
    font-family: "FontAwesome";
    content: "\25BC";
    color: #777;
    font-weight: bold;
    float: right;
    font-size: 120%;
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
}
  
.btn-block:hover {
    background-color: #ddd;
    color: black;
}

.span-help {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #212962;
}

form label, form legend {
	display: block;
	font-size: 16px;
	margin: 0 0 5px;
}

fieldset {
    margin-bottom: 10px;
}

.input-inline  {
	display: inline;
}

.input-top-name {
    display: inline;
    width: 100%;
}

.input-top-context {
    display: inline;
    width: 100%;
}

.input-inline-block-bold  {
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    border: 0px;
}

.input-padrao {
	display: block;
	margin: 0 0 10px;
	padding: 5px 5px;
	width: 90%;
}

h1 {
    font-size: 140%;
    margin-bottom: 0px;
}

h2 {
    font-size: 130%;
    margin-bottom: 0px;
}

h3 {
    font-size: 120%;
    margin-bottom: 0px;
}

h4 {
    font-size: 110%;
    margin-bottom: 0px;
}

.delete {
    cursor: no-drop;
}

.draggable {
    cursor: move;
}

.trash {
    cursor: move;
    z-index: 300;
    font-size: 28px;
}

.trashDrag {
    cursor: move;
    z-index: 300;
    font-size: 28px;
    fill:#ce1a1a;
}

.connection {
    cursor: copy;
    z-index: 300;
    color: #111190;
    font-weight: bold;
    display: inline-block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #eee;
    border-radius: 2px;
    border: 1px solid #222;
    display: inline-block;
    padding: 0px 4px;
    cursor: pointer;
}

.buttonsSection {
    border-bottom: 2px solid #4444;
    margin-bottom: 3px;
}

h1,h2,h3,h4.line {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #4444;
    margin-bottom: 5px;
}

.btn-transp:hover {
    border: 1px solid darkgrey;
}

.open {
    color: #444444;
    font-size: 200%;
    padding: 1px 10px 2px 6px;
    cursor: pointer;
}

.save {
    color: #444444;
    font-size: 200%;
    padding: 1px 6px 2px 4px;
    cursor: pointer;
}

.saveRemote {
    color: #444444;
    font-size: 200%;
    padding: 1px 7px 2px 6px;
    cursor: pointer;
}

.photo {
    color: #444444;
    font-size: 200%;
    padding: 1px 5px 1px 4px;
    cursor: pointer;
}

.static {
    cursor: not-allowed;
}

.textRect {
    stroke: #000099;
    //fill: gray;
    fill: #0000FF;
    fill-opacity: 0.1;
}

.useMove {
    stroke: #000099;
    stroke-width: 2px;
}

.textRectConn {
    stroke: gray;
    fill: #e5e5e5;
    fill-opacity: 0.5;
}

.textRectDanger {
    stroke: #000099;
    fill: red;
    fill-opacity: 0.3;
}

.msgError {
   color: #FF3334;
   display: inline-block;
   margin-bottom: 6px;
}

.textRectMain {
    stroke: #0000AA;
    stroke-width: 2px;
    border-radius: 4px;
    fill: #0000FF;
    fill-opacity: 0.4;
}

.textRectMainSelected {
    stroke: #000099;
    stroke-width: 3px;
    border-radius: 4px;
    stroke-dasharray: 1;
    fill: orange;
    fill-opacity: 0.3;
}

.textRectSelected {
    stroke: #000099;
    fill: yellow;
    stroke-dasharray: 1;
    fill-opacity: 0.3;
}

.textRectSelectedConn {
    stroke: #000099;
    fill: rgb(122, 122, 122);
    stroke-dasharray: 1;
    fill-opacity: 0.3;
}

.lineDanger {
    stroke-width: 4;
    stroke: red;
}

.line {
    stroke-width: 2;
    stroke: black;
}

.textRectConnection {
    stroke: #000099;
    fill: orange;
    fill-opacity: 0.3;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

svg.container {
    background-color: #ddd;
    width:100%;
    height:100%;
    border: #b3b3b3 1px solid;
}

.capture {
    border: black 1px solid;
    height: 200px; 
    width: 566px;
}

/**
* Magically made the div fit the text
*/
.foreign {
    text-align: left;
}

/* https://www.schemecolor.com/autism.php */
.insideforeignConcept {
    color: #222;
    display: inline-block;
    background-color:#FEE185;
    border: 1px solid #3333;
    border-radius: 2px;
    padding: 5px;
}

/* https://www.schemecolor.com/autism.php */
.insideforeignConceptMain {
    color: #222;
    display: inline-block;
    background-color:#FEC34D;
    border: 2px solid #3333;
    border-radius: 2px;
    padding: 5px;
}

/* https://www.schemecolor.com/autism.php */
.insideforeignPhrase {
    color: #222;
    display: inline-block;
    background-color: #e5e5e5;
    border: 1px solid #3333;
    border-radius: 2px;
    padding: 5px;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

svg {
    border:1px solid black;
}

.swap {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill */
}

.textArea-large {
    width: 100%;
}

table, td, th {  
    border: 1px solid gray;
    text-align: left;
}

table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
  
.table-medium {
    font-size: 80%;
}

th, td {
    padding: 4px;
}

td.no-padding-top {
    border: 0px; 
    padding-top: 0;
}

td.no-padding-bottom {
    border: 0px; 
    padding-bottom: 0;
}

td.no-padding-top-bottom {
    border: 0px; 
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: bottom;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.number {
    text-align: right;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.label-figure {
    font-size: 90%;
    font-weight: bold;
}
 
.danger {
    color: red;
    font-weight: bold;
}



  
